body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.chapter {
    font-size: 64px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
}

.wide {
    grid-column: span 2;
}

.tall {
    grid-row: span 2;
}

.large {
    grid-column: span 2;
    grid-row: span 2;
}


@media screen and (max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr;
    }
    .wide, .tall, .large {
        grid-column: auto;
        grid-row: auto;
    }
}